# Import Libraries

In [1]:
import pandas as pd
import os

# Import Datasets

In [22]:
os.chdir('/content/drive/MyDrive/Colab/Datasets/fraud_detection_sets')

# Load datasets
df_transactions = pd.read_csv('transactions_data.csv')
df_users = pd.read_csv('users_data.csv')
df_cards = pd.read_csv('cards_data.csv')
df_fraud_labels = pd.read_json('train_fraud_labels.json').reset_index() # Use read_json to read json file, index the records
df_mcc_codes = pd.read_csv('mcc_codes.csv')

# Function to display dataset details
def display_df_info(df, name):
    print(f"\n{name} - Info:")
    print(df.info())
    print(f"\n{name} - Head:")
    print(df.head(100))

# Display info for each dataframe
display_df_info(df_transactions, "Transactions")
display_df_info(df_users, "Users")
display_df_info(df_cards, "Cards")
display_df_info(df_fraud_labels, "Fraud Labels")
display_df_info(df_mcc_codes, "MCC Codes")

Transactions - Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2661183 entries, 0 to 2661182
Data columns (total 12 columns):
 #   Column          Dtype
---  ------          -----
 0   id              int64
 1   date            object
 2   client_id       int64
 3   card_id         int64
 4   amount          object
 5   use_chip        object
 6   merchant_id     int64
 7   merchant_city   object
 8   merchant_state  object
 9   zip             float64
 10  mcc             int64
 11  errors          object
dtypes: float64(1), int64(5), object(6)
memory usage: 243.6+ MB
None

Transactions - Head:
         id                 date  client_id  card_id   amount  \
0   7565784  2010-01-24 09:24:00       1645     1047    $3.39
1   7571127  2010-01-25 13:52:00       1448     5907   $75.62
2   7499145  2010-01-07 05:45:00        327     5512   $48.88
3   7566958  2010-01-24 13:29:00       1940     4218   $37.81
4   7586425  2010-01-29 12:16:00       1654     4276   $21.90
..      ...                  ...        ...      ...      ...
95  7585165  2010-01-29 06:20:00        847     5581  $120.00
96  7572528  2010-01-25 21:23:00       1787     4645   $59.42
97  7541401  2010-01-17 22:07:00       1102      979  $105.96
98  7511056  2010-01-10 08:14:00       1687     2509   $29.54
99  7560457  2010-01-22 19:24:00        957       82   $13.79

              use_chip  merchant_id merchant_city merchant_state      zip  \
0    Swipe Transaction        22938     Cleveland             OH  44118.0
1    Swipe Transaction        98374       Landrum             SC  29356.0
2   Online Transaction        39021        ONLINE            NaN      NaN
3    Swipe Transaction        10500        Corona             NY  11368.0
4   Online Transaction        27310        ONLINE            NaN      NaN
..                 ...          ...           ...            ...      ...
95   Swipe Transaction        27092      Billings             OK  74630.0
96   Swipe Transaction        24339     Lexington             KY  40509.0
97   Swipe Transaction        59397         Tulsa             OK  74137.0
98   Swipe Transaction        20519       Socorro             NM  87801.0
99  Online Transaction        47399        ONLINE            NaN      NaN

     mcc           errors
0   5812              NaN
1   5411              NaN
2   4784              NaN
3   5300              NaN
4   7349              NaN
..   ...              ...
95  4829              NaN
96  5812              NaN
97  5812              NaN
98  5942              NaN
99  5815  Bad Card Number

[100 rows x 12 columns]

Users - Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 2000 non-null   int64
 1   current_age        2000 non-null   int64
 2   retirement_age     2000 non-null   int64
 3   birth_year         2000 non-null   int64
 4   birth_month        2000 non-null   int64
 5   gender             2000 non-null   object
 6   address            2000 non-null   object
 7   latitude           2000 non-null   float64
 8   longitude          2000 non-null   float64
 9   per_capita_income  2000 non-null   object
 10  yearly_income      2000 non-null   object
 11  total_debt         2000 non-null   object
 12  credit_score       2000 non-null   int64
 13  num_credit_cards   2000 non-null   int64
dtypes: float64(2), int64(7), object(5)
memory usage: 218.9+ KB
None

Users - Head:
      id  current_age  retirement_age  birth_year  birth_month  gender  \
0    825           53              66        1966           11  Female
1   1746           53              68        1966           12  Female
2   1718           81              67        1938           11  Female
3    708           63              63        1957            1  Female
4   1164           43              70        1976            9    Male
..   ...          ...             ...         ...          ...     ...
95   406           23              64        1996            5  Female
96  1069           54              69        1965            9    Male
97   180           33              67        1986            7  Female
98   996           63              67        1956           11  Female
99  1866           22              67        1998            2    Male

                     address  latitude  longitude per_capita_income  \
0              462 Rose Lane     34.15    -117.76            $29278
1     3606 Federal Boulevard     40.76     -73.74            $37891
2            766 Third Drive     34.02    -117.89            $22681
3           3 Madison Street     40.71     -73.99           $163145
4   9620 Valley Stream Drive     37.76    -122.44            $53797
..                       ...       ...        ...               ...
95           2418 Mill Drive     37.30    -122.00            $41750
96         3683 Fifth Street     35.30     -81.03            $22487
97              0 Elm Street     33.53    -112.18            $13024
98       2302 Catherine Lane     26.02     -80.16            $19712
99            213 Rose Drive     32.85     -96.96            $30475

   yearly_income total_debt  credit_score  num_credit_cards
0         $59696    $127613           787                 5
1         $77254    $191349           701                 5
2         $33483       $196           698                 5
3        $249925    $202328           722                 4
4        $109687    $183855           675                 1
..           ...        ...           ...               ...
95        $85128    $108678           641                 1
96        $45852    $114746           615                 2
97        $26556     $43042           840                 2
98        $40194    $107765           738                 6
99        $62135     $75209           676                 2

[100 rows x 14 columns]

Cards - Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6146 entries, 0 to 6145
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     6146 non-null   int64
 1   client_id              6146 non-null   int64
 2   card_brand             6146 non-null   object
 3   card_type              6146 non-null   object
 4   card_number            6146 non-null   int64
 5   expires                6146 non-null   object
 6   cvv                    6146 non-null   int64
 7   has_chip               6146 non-null   object
 8   num_cards_issued       6146 non-null   int64
 9   credit_limit           6146 non-null   object
 10  acct_open_date         6146 non-null   object
 11  year_pin_last_changed  6146 non-null   int64
 12  card_on_dark_web       6146 non-null   object
dtypes: int64(6), object(7)
memory usage: 624.3+ KB
None

Cards - Head:
      id  client_id  card_brand        card_type       card_number  expires  \
0   4524        825        Visa            Debit  4344676511950444  12/2022
1   2731        825        Visa            Debit  4956965974959986  12/2020
2   3701        825        Visa            Debit  4582313478255491  02/2024
3     42        825        Visa           Credit  4879494103069057  08/2024
4   4659        825  Mastercard  Debit (Prepaid)  5722874738736011  03/2009
..   ...        ...         ...              ...               ...      ...
95  6132       1689  Mastercard            Debit  5068255294282305  11/2020
96   327        379        Amex           Credit   354813103334804  06/2021
97  2019        379  Mastercard            Debit  5910929635230868  02/2020
98  3881        379  Mastercard            Debit  5400182448188961  10/2021
99  1166         34  Mastercard            Debit  5039048842448184  11/2023

    cvv has_chip  num_cards_issued credit_limit acct_open_date  \
0   623      YES                 2       $24295        09/2002
1   393      YES                 2       $21968        04/2014
2   719      YES                 2       $46414        07/2003
3   693       NO                 1       $12400        01/2003
4    75      YES                 1          $28        09/2008
..  ...      ...               ...          ...            ...
95  890      YES                 1       $25815        12/2017
96  527      YES                 2        $8400        01/2014
97  525      YES                 1       $21628        03/2001
98  412      YES                 1       $24232        07/2009
99  339      YES                 2       $10775        02/2009

    year_pin_last_changed card_on_dark_web
0                    2008               No
1                    2014               No
2                    2004               No
3                    2012               No
4                    2009               No
..                    ...              ...
95                   2017               No
96                   2014               No
97                   2008               No
98                   2009               No
99                   2010               No

[100 rows x 13 columns]

Fraud Labels - Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8914963 entries, 0 to 8914962
Data columns (total 2 columns):
 #   Column  Dtype
---  ------  -----
 0   index   int64
 1   target  object
dtypes: int64(1), object(1)
memory usage: 136.0+ MB
None

Fraud Labels - Head:
       index target
0   10649266     No
1   23410063     No
2    9316588     No
3   12478022     No
4    9558530     No
..       ...    ...
95  10462724     No
96  18033208     No
97  19068759     No
98  10551289     No
99  22484160     No

[100 rows x 2 columns]

MCC Codes - Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82 entries, 0 to 81
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   MCC          82 non-null     int64
 1   Description  82 non-null     object
dtypes: int64(1), object(1)
memory usage: 1.4+ KB
None

MCC Codes - Head:
     MCC                                  Description
0   5812                Eating Places and Restaurants
1   5541                             Service Stations
2   7996         Amusement Parks, Carnivals, Circuses
3   5411                 Grocery Stores, Supermarkets
4   4784                        Tolls and Bridge Fees
..   ...                                          ...
77  8049                                  Podiatrists
78  3387  Electroplating, Plating, Polishing Services
79  4112                           Passenger Railways
80  3405                                     Ironwork
81  5261                Lawn and Garden Supply Stores

[82 rows x 2 columns]

# Data Preprocessing

In [28]:
# Check for missing values in all datasets
def check_missing_values(df):
    return df.isnull().sum()

# Print sum of missing values for each set
print(f"\n{check_missing_values(df_transactions)}")
print(f"\n{check_missing_values(df_users)}")
print(f"\n{check_missing_values(df_cards)}")
print(f"\n{check_missing_values(df_fraud_labels)}")
print(f"\n{check_missing_values(df_mcc_codes)}")

# Drop duplicates for all datasets if any
df_transactions.drop_duplicates(inplace=True)
df_users.drop_duplicates(inplace=True)
df_cards.drop_duplicates(inplace=True)
df_fraud_labels.drop_duplicates(inplace=True)
df_mcc_codes.drop_duplicates(inplace=True)

# Drop merchant_state, zip and errors column on transactions df
df_transactions.drop(['merchant_state', 'zip', 'errors'], axis=1, inplace=True)

# Convert amount column from string to numeric on transactions df
df_transactions['amount'] = df_transactions['amount'].str.lstrip('$').astype(float)

# Convert amount column from string to numeric on users df
df_users['per_capita_income'] = df_users['per_capita_income'].str.lstrip('$').astype(float)
df_users['yearly_income'] = df_users['yearly_income'].str.lstrip('$').astype(float)
df_users['total_debt'] = df_users['total_debt'].str.lstrip('$').astype(float)

# Convert amount column from string to numeric on cards df
df_cards['credit_limit'] = df_cards['credit_limit'].str.lstrip('$').astype(float)

df_cards

id               0
date             0
client_id        0
card_id          0
amount           0
use_chip         0
merchant_id      0
merchant_city    0
mcc              0
dtype: int64

id                   0
current_age          0
retirement_age       0
birth_year           0
birth_month          0
gender               0
address              0
latitude             0
longitude            0
per_capita_income    0
yearly_income        0
total_debt           0
credit_score         0
num_credit_cards     0
dtype: int64

id                       0
client_id                0
card_brand               0
card_type                0
card_number              0
expires                  0
cvv                      0
has_chip                 0
num_cards_issued         0
credit_limit             0
acct_open_date           0
year_pin_last_changed    0
card_on_dark_web         0
dtype: int64

index     0
target    0
dtype: int64

MCC            0
Description    0
dtype: int64

,id,client_id,card_brand,card_type,card_number,expires,cvv,has_chip,num_cards_issued,credit_limit,acct_open_date,year_pin_last_changed,card_on_dark_web
0,4524,825,Visa,Debit,4344676511950444,12/2022,623,YES,2,24295.0,09/2002,2008,No
1,2731,825,Visa,Debit,4956965974959986,12/2020,393,YES,2,21968.0,04/2014,2014,No
2,3701,825,Visa,Debit,4582313478255491,02/2024,719,YES,2,46414.0,07/2003,2004,No
3,42,825,Visa,Credit,4879494103069057,08/2024,693,NO,1,12400.0,01/2003,2012,No
4,4659,825,Mastercard,Debit (Prepaid),5722874738736011,03/2009,75,YES,1,28.0,09/2008,2009,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6141,5361,185,Amex,Credit,300609782832003,01/2024,663,YES,1,6900.0,11/2000,2013,No
6142,2711,185,Visa,Credit,4718517475996018,01/2021,492,YES,2,5700.0,04/2012,2012,No
6143,1305,1007,Mastercard,Credit,5929512204765914,08/2020,237,NO,2,9200.0,02/2012,2012,No
6144,743,1110,Mastercard,Debit,5589768928167462,01/2020,630,YES,1,28074.0,01/2020,2020,No
6145,3199,1110,Visa,Credit,4994011318343994,12/2020,120,YES,1,14400.0,05/2017,2017,No